.nav-container{
    height: 50px;
    background: #000;
}
.nav-option{
    
    li{
        text-decoration: none;
        color: white;
       margin-left: 30px;
        }
    
    display: flex;
    
    list-style: none;
}